button {
	border: none;
	padding: 4px 30px;
	border-radius: 10px;
	background-color: RoyalBlue;
	font: bold 18px Comic Sans MS;
	color: white;
}

input {
	width: 200px;
	height: 30px;
	border: 1px solid silver;
	border-radius: 10px;
	font: bold 18px Comic Sans MS;
}

table {
	font: bold 18px Comic Sans MS;
}

#token {
	width: 300px;
	background-color: SandyBrown;
	font: bold 14px Comic Sans MS;
	border-radius: 10px;
	word-wrap: break-word;
	padding: 10px;
}
